
.page-content .bottons .button {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    transition: filter 0.5s;
    left: 950px;
    top: -310px;
    position: relative;
    font-size: 25px;
    font-family: 'Uchen', 'sans-serif';
}

.page-content .bottons button:hover {
   color: cyan;
   cursor: pointer;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}