*
{
    box-sizing: border-box;
}
.contact-section {
    /*background-image: linear-gradient(rgba(170, 219, 238, 0.4),  rgb(233, 246, 246)), url("../img/contact_us.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hero  {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

form {
    width: 90%;
    max-width: 600px;
    margin-left: 350px;
}

.intput-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px, solid #fff;
    background: transparent;
    font-size: 15px;
    border-color: brown;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(219, 152, 152);
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: rgb(219, 152, 152);
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    border-color: brown;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .intput-group {
    flex-basis: 48%;
}

.hero .contact {
    margin-left: 250px;
    margin-top: -100px;
}

.hero .contact p {
    margin-left: 100px;
    max-width: 300px;
    font-family: 'Kaisei', 'sans-serif';
    margin-bottom: 50px;
}

.hero .contact h1 {
    margin-bottom: 50px;
    font-family: 'Uchen', 'sans-serif';
}

.hero .contact h2 {
    margin-bottom: 0;
    margin-left: 100px;
    font-family: 'Uchen', 'sans-serif';
}

.map {
    width: 50%;
    height: 60vh;
    margin-left: 500px;
    border-color: royalblue;
    font-family: 'Uchen', 'sans-serif';
    display: flex;
    align-items: center;
    flex-direction: column;
}

iframe {
    width: 90%;
    height: 600px;
    margin-bottom: 100px;
}