
.footer {
    position: relative;
    height:[footer-height];
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer h4 {
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Uchen', 'sans-serif';
    align-items: center;
}

.footer p {
    font-size: 12px;
    font-family: 'Kaisei', 'sans-serif';
}

.footer .create {
    align-self: center;
    font-family: 'Niconne', 'sans-serif';
}

.btn-default {
    color: #337ab7;
}

.btnlist {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
}

.btn-default:hover {
    background-color: rgb(0, 255, 174);
    border-radius: 50%;
    opacity: .4;
    padding: 2px;
    width: 85%;
}

#github-icon {
    font-size: 30px;
}

#linkdin-icon {
    font-size: 30px;
}
