.blender {
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.blender ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}
.blender ul li{
    list-style: none;
}
.blender ul li a{
    text-decoration: none;
    color: #222;
}
.blender ul li:first-child{
    grid-column: 1;
    grid-row: 1;
}
.blender ul li:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}
.bledner ul li:nth-child(3){
    grid-column: 3;
    grid-row: 1;
}
.bledner ul li:last-child{
    grid-column: 4;
    grid-row: 1;
}
