
.section-projets {
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    background-image: linear-gradient(rgba(170, 219, 238, 0.2),  rgb(233, 246, 246)), url("../img/projets.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-projets .projet {
    padding-left: 250px;
    padding-top: 180px;
    padding-bottom: 150px;
    position: relative;
}

.section-projets .projets {
    margin-top: 120px;
}

.section-projets h1 {
    margin: 0;
    padding-left: 100px;
    text-transform: uppercase;
    font-family: 'Uchen', 'sans-serif';
    font-size: 2vw;
}

.section-projets h2 {
    color:rgb(238, 86, 31);
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Uchen', 'sans-serif';
}

.section-projets p {
    max-width: 500px;
}

.section-projets a {
    left: 200px;
    position: relative;
}

.section-projets a:hover {
    background-color:rgb(255, 8, 0);
    color:white;
}

.section-projets a.active {
    background-color: #04AA6D;
    color: white;
}

.img {
    left: 35%;
    padding-top: 160px;
    width:800px;
    height: auto;
    position: absolute;
}


.img1 {
    top: 700px;
    left: 35%;
    padding-top: 160px;
    width:800px;
    height: auto;
    position: absolute;
}


.img2 {
    top: 1250px;
    left: 35%;
    padding-top: 160px;
    width:800px;
    height: auto;
    position: absolute;
}

.button-github {
    margin-bottom: 100px;
    margin-top: 100px;
}

.button-github a {
    margin-left: 510px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: black;
    width: 150px;
	height: 50px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
	font-family: 'Uchen', cursive;
	color: white;
	font-size: 20px;
	transition: 500ms;
}

.button-github a:hover {
	border: 2px solid #6dd6d1;
	animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

.button-github a:focus {
	outline: none;
}
