@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Niconne&family=Uchen&display=swap');
@import "./profile.css";
@import "./main_img.css";
@import "./header.css";
@import "./buttons.css";
@import "./footer.css";

html, body {
    background-color: rgb(233, 246, 246);
    max-width: 100%;
    overflow-x: hidden;
}